.disable {
    background-color: #DDDDDD;
}
.noColor {

}
.organColor{
    background-color: #FF9933;
}
.background-red{
    background-color: #FF6666;
}

.good{
    color: #33CC33
}

.normal{
    color:#111111
}
.bad{
    color: #FF9933;
}

.worse{
    color: #F00003;
    border-radius: none;
}



.background-red:hover{
    background-color: white;
    border-radius: none;
}